{% choice 'page_type' label='Which landing page is this?', value='rethink', choices='[[\"rethink\", \"Rethink Branch IT\"], [\"zero\", \"Zero Branch IT\"]]', export_to_template_context=True %}

{% if widget_data.page_type.value == 'rethink' %}
{% set share_message = '' %}
{% set share_url = 'http://www.avnetriverbed.com/rethinkbranchit' %}
{% elif widget_data.page_type.value == 'zero' %}
{% set share_message = '' %}
{% set share_url = 'http://www.avnetriverbed.com/zerobranchit' %}
{% endif %}

<section class="hero--wrapper">
	<div class="page-width-normal">
		<header class="hero__header flex align-start justify-between">
			<div class="hero__share--wrapper flex align-center order-2">
				<p class="mobile--hide">Share:</p>
				<a href="https://twitter.com/intent/tweet?text={{ share_message|urlencode }}&hashtags=ZeroBranchIT&url={{ share_url|urlencode }}" class="hero__share--item" target="_blank">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/share_twitter.png" alt="twitter_share">
				</a>
				<a href="{{ share_url|urlencode }}" class="hero__share--item" target="_blank">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/share_facebook.png" alt="facebook_share">
				</a>
				<a href="{{ share_url|urlencode }}" class="hero__share--item" target="_blank">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/share_linkedin.png" alt="linkedin_share">
				</a>
				<a href="https://plus.google.com/share?url={{ share_url|urlencode }}" class="hero__share--item" target="_blank">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/share_gplus.png" alt="gplus_share">
				</a>
			</div>
			<div class="hero__logo--wrapper flex align-center order-1">
				<img class="logo--riverbed" src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/logos/riverbed_logo.png" alt="riverbed_logo">
				<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/logos/avnet_logo-white.png" alt="avnet_logo">
			</div>
		</header>
		<div class="hero__content--wrapper" data-speed="2">
			<div class="hero__headline--logo">
				{% if widget_data.page_type.value == "rethink" %}
				<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/images/rethink-it.png" alt="rethink-branch-it">
				{% else %}
				<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/images/zero-it.png" alt="zero-branch-it">
				{% endif %}
			</div>
			<h1 class="hero__headline load-delay">Riverbed offers a new and better approach to branch IT.</h1>
			<div class="hero__features--wrapper load-delay flex align-start justify-around">
				<div class="hero__features--item">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/nope.png" alt="no-servers-icon">
					<p>No servers.<br>No storage. No backup.</p>
				</div>
				<div class="hero__features--item">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/thunderbolt.png" alt="thunderbolt-icon">
					<p>Instant provisioning.<br>Instant recovery.</p>
				</div>
				<div class="hero__features--item">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/lock.png" alt="lock-icon">
					<p>Complete data security.<br>Full visibility.</p>
				</div>
				<div class="hero__features--item">
					<img src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/icons/mobiledevice.png" alt="mobile-device-icon">
					<p>Ads that<br>simply work.</p>
				</div>
			</div>
		</div>
	</div>
</section>