<section class="testimonials--wrapper">
	<div class="page-width-normal">
		<h2 class="slider__header">{{ widget.testimonials_header }}</h2>
		<div class="testimonials__slider">
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote1 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline1 }}</p>
				<img src="" alt="">
				<p class="testimonials__origin">
					{% if widget.quote_origin1 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote2 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline2 }}</p>
				<img src="" alt="">
				<p class="testimonials__origin">
					{% if widget.quote_origin2 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote3 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline3 }}</p>
				<img src="" alt="">
				<p class="testimonials__origin">
					{% if widget.quote_origin3 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote4 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline4 }}</p>
				<img src="" alt="">
				<p class="testimonials__origin">
					{% if widget.quote_origin4 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote5 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline5 }}</p>
				<img src="" alt="">
				<p class="testimonials__origin">
					{% if widget.quote_origin5 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
		</div>
		<div class="slider-arrows--wrapper testimonials__arrows"></div>
	</div>
</section>