<section class="testimonials--wrapper slider--wrapper">
	<div class="page-width-normal">
		<h2 class="slider__header">{{ widget.testimonials_header }}</h2>
		<p class="mobile--swipe mobile--show">(Swipe to view more)</p>
		<div class="testimonials__slider">
			{% if widget.quote1 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote1 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline1 }}</p>
				<img src="{{ widget.logo1.src }}" alt="{{ widget.logo1.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin1 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote2 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote2 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline2 }}</p>
				<img src="{{ widget.logo2.src }}" alt="{{ widget.logo2.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin2 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote3 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote3 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline3 }}</p>
				<img src="{{ widget.logo3.src }}" alt="{{ widget.logo3.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin3 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote4 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote4 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline4 }}</p>
				<img src="{{ widget.logo4.src }}" alt="{{ widget.logo4.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin4 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote5 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote5 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline5 }}</p>
				<img src="{{ widget.logo5.src }}" alt="{{ widget.logo5.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin5 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote6 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote6 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline6 }}</p>
				<img src="{{ widget.logo6.src }}" alt="{{ widget.logo6.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin6 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote7 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote7 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline7 }}</p>
				<img src="{{ widget.logo7.src }}" alt="{{ widget.logo7.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin7 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote8 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote8 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline8 }}</p>
				<img src="{{ widget.logo8.src }}" alt="{{ widget.logo8.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin8 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote9 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote9 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline9 }}</p>
				<img src="{{ widget.logo9.src }}" alt="{{ widget.logo9.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin9 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% if widget.quote10 %}
			<div class="testimonials__slider--item">
				<p class="testimonials__quote h3">&ldquo;{{ widget.quote10 }}&rdquo;</p>
				<p class="testimonials__byline">&ndash; {{ widget.byline10 }}</p>
				<img src="{{ widget.logo10.src }}" alt="{{ widget.logo10.alt }}">
				<p class="testimonials__origin">
					{% if widget.quote_origin10 == 'yes' %}
					Quote is from a Riverbed customer.
					{% elif %}
					Quote is not from a Riverbed customer.
					{% endif %}
				</p>
			</div>
			{% endif %}
		</div>
		<div class="slider-arrows--wrapper testimonials__arrows"></div>
	</div>
</section>