<p class="topic-select-bar">
	<span class="visible-lte-phone">Select a topic below</span>
	<span class="visible-gt-phone">Select a topic to learn more about the benefits of Riverbed SteelFusion</span>
</p>
<div class="block-nav">
	<div class="block-nav__burger-wrapper">
		<div class="block-nav__burger"></div>
	</div>
	<ul class="block-nav__links-list">
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">Data Security</a>
		</li>
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">Business Agility</a>
		</li>
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">Backup &amp; Data Recovery</a>
		</li>
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">Business Continuity</a>
		</li>
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">IT Sprawl</a>
		</li>
		<li class="block-nav__link-wrapper">
			<a href="" class="block-nav__link">Remote Productivity</a>
		</li>
	</ul>
</div>
