<div class="asset-bar module-bg--orange">
	<div class="page-width-normal">
		<div class="asset-bar__content">
			<img class="asset-bar__image" src="//placehold.it/230x275" alt="">
			<p class="asset-bar__description">Download your FREE report now</p>
		</div>
	</div>
</div>

<div class="form-content">
	<div class="page-width-normal cf">
		<p class="form-content__description">Learn how a cost-effective, simplified architecture provides unprecedented levels of business continuity, agility and data security at ROBO locations.</p>
		<div class="form-content__form-wrapper">
			<div id="form_target"></div>
		</div>
	</div>
</div>

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
	hbspt.forms.create({
		css: '',
		portalId: '2124715',
		formId: 'bb5b34ba-2fbe-477c-9e5d-b35d85bc13a2',
		target: '#form_target'
	});
</script>
