<section class="media-row module-bg--orange module-bg--textured">
	<div class="page-width-normal">
		<div class="media-row__content">
			<div class="media-row__text-wrapper">
				<h3 class="media-row__header">Secure and protect</h3>
				<p class="media-row__description">all branch data in the datacenter without compromising performance at the branch.</p>
				<div class="media-row__cta-wrapper">
					<a href="#" class="cta cta--white cta--arrow" data-video="true">Watch video</a>
				</div>
			</div>
			<div class="media-row__media-wrapper media-row__media-wrapper--video" data-video="true">
				<div class="media-row__play-btn"></div>
				<img class="media-row__media" src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/videos/chalk-talk_poster.png" alt="Zero Branch IT">
			</div>
		</div>

		<div class="popup-modal media-row__video-modal">
			<div class="popup-modal__inner">
				<div class="media-row__video-wrapper">
					<a class="popup-modal__close"></a>
					<video class="media-row__video" poster="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/videos/chalk-talk_poster.png" controls>
						<source src="http://cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/videos/Chalk_Talk_v2.mp4" type="video/mp4">
						Your browser does not support video playback.
					</video>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- NO VIDEO -->
<!-- <section class="media-row module-bg--orange module-bg--textured">
	<div class="page-width-normal">
		<div class="media-row__content">
			<div class="media-row__text-wrapper">
				<h3 class="media-row__header">Secure and protect</h3>
				<p class="media-row__description">all branch data in the datacenter without compromising performance at the branch.</p>
				<div class="media-row__cta-wrapper">
					<a href="#" class="cta cta--white cta--arrow">Watch video</a>
				</div>
			</div>

			<div class="media-row__media-wrapper">
				<img class="media-row__media" src="//cdn2.hubspot.net/hubfs/2124715/avr_campaign/assets/videos/chalk-talk_poster.png" alt="Zero Branch IT">
			</div>
		</div>
	</div>
</section> -->