<section class="content-section">
	<div class="page-width-normal">
		<!-- Content Top -->
		<div class="content-section__content-wrapper">
			<div class="content-section__content">
				<p><strong>A Software-Defined Edge</strong> blurs the lines between traditional on-prem data centers, private and public clouds to give IT organizations flexibility to choose where they want their core data and applications to live.</p>
				<p><strong>A Software-Defined Edge</strong> solution must deliver 3 fundamental capabilities to solve the challenges of edge IT:</p>
			</div>
		</div>

		<!-- Features -->
		<div class="content-section__features-wrapper">
			<div class="content-section__feature">
				<p>The ability to centralize and accelerate core operations</p>
			</div>
			<div class="content-section__feature">
				<p>Simplified edge infrastructure that 'hyper-converges' technologies that have traditionally been purchased and maintained separately</p>
			</div>
			<div class="content-section__feature">
				<p>Enhanced long-term business value</p>
			</div>
		</div>

		<!-- Content Bottom -->
		<div class="content-section__content-wrapper">
			<div class="content-section__content">
				<p><strong>What Makes the Business Case for SteelFusion? How Does it Improve IT at the Edge?</strong></p>
				<ul>
					<li>No servers. No storage. No backup.</li>
					<li>Instant provisioning. Instant Recovery.</li>
					<li>Complete security. Full visibility.</li>
					<li>Apps that simply work.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
