<section class="testimonial module-bg__off-white">
	<div class="page-width-normal">
		<div class="testimonial__text-wrapper">
			<p class="testimonial__quote">Riverbed's &lsquo;Hyper-Converged Edge&rsquo; SteelFusion reliably uniquely delivers datacenter IT services out to those edges for top-notch performance and availability, but keeps actual data centralized in the datacenter for rock-solid data protection and DR &mdash; maximally leveraging core IT infrastructure and staff.</p>
			<p class="testimonial__author">&ndash; Taneja Group</p>
		</div>
	</div>
</section>