// @import ../variables


.avr-footer
	background-color: $backgroundBlue
	padding: 40px 0

.avr-footer__content
	display: flex
	align-items: center
	justify-content: space-between

.avr-footer__logo-wrapper
	display: inline-block

.avr-footer__logo
	display: block
	max-width: 100%
	max-height: 35px

.avr-footer__links-wrapper
	display: flex
	align-items: center

.avr-footer__links-list,
.avr-footer__social-list
	display: inline-block
	list-style: none
	margin-left: 0

.avr-footer__links-list
	color: $colorGrey2
	font-weight: $fontWeightSemibold

.avr-footer__link
	display: inline-block
	vertical-align: middle
	border-right: 2px solid $borderGreyLight
	padding: 0 10px

	&:nth-last-child(1)
		border-right: 0

	a
		color: $fontColorLight
		font-weight: $fontWeightSemibold

		&:hover
			color: $fontColorLight

.avr-footer__social-list
	display: inline-block
	margin-left: 20px

.avr-footer__social-item
	display: inline-block
	vertical-align: middle
	margin: 0 5px

	a
		display: block
		background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/social-sprite-grey2.png')
		background-repeat: no-repeat
		background-size: cover
		width: 24px
		height: 24px

		&.share-facebook
			background-position: 0

		&.share-twitter
			background-position: -31px

		&.share-gplus
			background-position: -59px

		&.share-yt
			background-position: -89px

		&.share-li
			background-position: -118px