// @import ../variables


.avr-footer
	background-color: $backgroundBlue
	padding: 40px 0
	+breakpoint($breakpoint-lte-phone)
		text-align: center

.avr-footer__content
	+breakpoint-min($breakpoint-gt-phone)
		display: flex
		align-items: center
		justify-content: space-between

.avr-footer__logo-wrapper
	display: inline-block

.avr-footer__logo
	display: block
	max-width: 100%
	max-height: 35px

.avr-footer__links-wrapper
	+breakpoint-min($breakpoint-gt-phone)
		display: flex
		align-items: center
	+breakpoint-between($breakpoint-gt-phone, $breakpoint-lte-tablet)
		flex-flow: column wrap
		align-items: flex-end
		justify-content: center

.avr-footer__links-list,
.avr-footer__social-list
	list-style: none
	margin: 15px 0
	+breakpoint-min($breakpoint-gt-phone)
		display: inline-block
		margin: 0

	&:nth-last-child(1)
		margin-bottom: 0

.avr-footer__links-list
	color: $colorGrey2
	font-weight: $fontWeightSemibold

.avr-footer__link
	+breakpoint-min($breakpoint-gt-phone)
		display: inline-block
		vertical-align: middle
		border-right: 2px solid $borderGreyLight
		padding: 0 10px

		&:nth-last-child(1)
			border-right: 0

	a
		color: $fontColorLight
		font-weight: $fontWeightSemibold

		&:hover
			color: $fontColorLight

.avr-footer__social-list
	+breakpoint-min($breakpoint-gt-phone)
		margin-left: 15px
	+breakpoint-between($breakpoint-gt-phone, $breakpoint-lte-tablet)
		margin-top: 15px

.avr-footer__social-item
	display: inline-block
	margin: 0 8px

	a
		color: $fontColorLight
		font-size: 2em
		line-height: 1em
		vertical-align: top
		+breakpoint-min($breakpoint-gt-phone)
			font-size: 1.5em

		&:hover
			text-decoration: none