// @import ../variables


.content-section
	padding-top: 0

.content-section__image-wrapper
	text-align: center
	max-width: 400px
	margin: 0 auto
	+breakpoint-min($breakpoint-gt-phone)
		float: right
		max-width: 300px
		margin: 0 0 30px 30px

.content-section__image
	display: inline-block

.content-section__header
	color: $fontColorBlue
	font-size: 1.2em
	+breakpoint-min($breakpoint-gt-phone)
		margin-top: 0
