// @import ../variables


.cta
	cursor: pointer
	display: inline-block
	color: $fontColorDark
	font-family: $fontFamilySourceSans
	font-size: 1em
	font-weight: $fontWeightBold
	text-transform: uppercase
	letter-spacing: 1px
	text-align: center
	border: 2px solid $borderOrange
	transition: all 0.3s
	padding: 20px 40px

	&:hover
		background-color: $backgroundOrange
		color: $colorWhite
		text-decoration: none

	&:active
		background-color: darken($backgroundOrange, 10%)
		color: $colorWhite
		border-color: darken($borderOrange, 10%)
		transition: none

	&--white
		color: $colorWhite
		border-color: $colorWhite

		&:hover
			background-color: $colorWhite
			color: $colorOrange1

		&:active
			background-color: darken($colorWhite, 10%)
			color: $colorOrange1
			border-color: darken($colorWhite, 10%)

	&--dark
		background-color: $colorBlackOpac1
		color: $colorWhite
		border-color: $colorWhite

		&:hover
			background-color: $backgroundOrangeOpac

		&:active
			background-color: $backgroundOrange
			border-color: $colorWhite

	&--arrow
		line-height: 1.5em
		transition: none

		&:after
			content: ''
			display: inline-block
			position: relative
			background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/arrow-grey.png')
			background-repeat: no-repeat
			background-size: 32px
			vertical-align: middle
			width: 32px
			height: 32px
			margin-left: 10px

		&:hover, &:active
			&:after
				background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/arrow-white.png')

		&.cta--white
			&:after
				background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/arrow-white.png')

			&:hover, &:active
				&:after
					background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/arrow-orange.png')

		&.cta--dark
			&:after
				background-image: url('//cdn2.hubspot.net/hubfs/2124715/assets/icons/arrow-white.png')