// @import ../variables


html, body
	color: $fontColorDark
	font-family: $fontFamilySourceSans
	font-size: 1em
	margin: 0
	padding: 0

	*
		-webkit-font-smoothing: antialiased
		box-sizing: border-box

// HTML5 elements (for support on older browsers)
header, section, footer, aside, nav, main, article, figure
	display: block

section
	padding-top: 50px
	padding-bottom: 50px
	+breakpoint($breakpoint-gt-phone)
		padding-top: 100px
		padding-bottom: 100px

p
	font-size: 1em
	line-height: 1.5em
	margin-top: 1em
	margin-bottom: 1.5em

a
	outline: none
	color: $linkColor
	text-decoration: none

	img
		border: 0

	&:hover
		color: $linkColorHover
		text-decoration: underline

button
	outline: none

ul, ol
	margin: 0 0 0 3em
	padding: 0

li
	font-size: 1em
	line-height: 1.6em

img
	max-width: 100%

video
	height: auto
	max-width: 100%


//////////////////
// H E A D E R S
//////////////////
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	font-family: $fontFamilySourceSans
	line-height: 1.25em
	margin: 0.8em 0

h1, .h1
	font-size: 2.6em
	font-weight: $fontWeightSemibold
	text-transform: uppercase
	margin-top: 18px
	margin-bottom: 18px
	+breakpoint($breakpoint-lte-phone)
		font-size: 36px

h2, .h2
	font-size: 2em
	font-weight: $fontWeightSemibold
	line-height: 1.5em
	margin-top: 13px
	margin-bottom: 13px
	+breakpoint($breakpoint-lte-phone)
		font-size: 26px

h3, .h3
	font-size: 1.6em
	font-weight: $fontWeightNormal
	line-height: 1.4em
	margin-top: 13px
	margin-bottom: 13px
	+breakpoint($breakpoint-lte-phone)
		font-size: 22px