@import ./src/sass/partials/colors

.cta
	display: inline-block
	background: transparent
	color: #fff
	text-transform: uppercase
	border: 1px solid #fff
	border-radius: 26px
	padding: 15px 40px
	transition: all 0.3s ease

	&:hover
		background: #fff
		color: $orange