// @import breakpoint

// @import ./src/sass/partials/breakpoints
@import ./src/sass/partials/colors
@import ./src/sass/partials/fonts

.testimonials--wrapper
	padding-top: 40px

.testimonials__header
	text-align: center

.testimonials__slider
	text-align: center
	margin-top: 20px

.testimonials__quote
	color: $blue
	font-weight: $light
	font-style: italic
	padding: 0 20px

.testimonials__byline
	color: $lt-gray
	font-size: 14px